<!-- <p>login works!</p> -->
<div class="auth-container">
    <h2>Login</h2>
    <form (submit)="login()">
        <input type="text" placeholder="Username" [(ngModel)]="credentials.username" required>
        <input type="password" placeholder="Password" [(ngModel)]="credentials.password" required>
        <button type="submit">Login</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
    <a routerLink="/auth/signup">Don't have an account? Sign up</a>
</div>  
