<!-- <p>forgot-password works!</p> -->
<div class="auth-container">
    <div class="auth-card">
        <h2>Forgot Password</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
                <p class="error" *ngIf="forgotPasswordForm.controls['email'].errors?.['required'] && forgotPasswordForm.controls['email'].touched">
                    Email is required
                </p>
                <p class="error" *ngIf="forgotPasswordForm.controls['email'].errors?.['email'] && forgotPasswordForm.controls['email'].touched">
                    Enter a valid email address
                </p>
            </div>
    
            <button type="submit" class="btn btn-warning w-100" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
    
            <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    
            <div class="extra-links">
                <a routerLink="/auth/login">Back to Login</a>
            </div>
        </form>
    </div>
</div>  
